<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI SQL Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-container">

    <div class="glass-card">

        <h1>🤖 AI SQL Assistant</h1>


        <form method="POST">

            <label>
                Enter Your Question
            </label>

            <textarea
                name="question"
                placeholder="Example: Show all employees whose salary is greater than 50000"
                required>{{ question }}</textarea>

            <label>
                SQL Dialect
            </label>

            <select name="dialect">

                <option value="MySQL"
                    {% if dialect=="MySQL" %}selected{% endif %}>
                    MySQL
                </option>

                <option value="PostgreSQL"
                    {% if dialect=="PostgreSQL" %}selected{% endif %}>
                    PostgreSQL
                </option>

                <option value="Oracle"
                    {% if dialect=="Oracle" %}selected{% endif %}>
                    Oracle
                </option>

                <option value="SQL Server"
                    {% if dialect=="SQL Server" %}selected{% endif %}>
                    SQL Server
                </option>

            </select>
        
            <button type="submit">
                Generate SQL Query
            </button>

        </form>

    </div>

    {% if result %}

    <div class="output-card">

        <h2>Generated SQL Query</h2>

        <pre>{{ result.query }}</pre>
        <a
href="/download?query={{ result.query }}"
class="download-btn">

Download SQL File

</a>

        <h2>Explanation</h2>

        <div class="explanation-box">
            {{ result.explanation }}
        </div>

    </div>

    {% endif %}

</div>

</body>

</html>